@{
    ViewData["Title"] = "Pokedéx";
}

<div id="app" class="input-icons">
    <i class="fa fa-search icon"></i>
    <input class="input-field" type="text" placeholder="Buscar Pokemon">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to...</h1>
    <h2 class="display-3">Pokedéx in AspNet MCV Core</h2>
    <p>Lista de Pokemons:</p>
    <a href="./Pokemon/GetAllPokemon">Pokedéx in AspNet MVC Core</a>.
</div>

